# OS
.DS_Store
Thumbs.db

# IDEs
.buildpath
.project
.settings/
.build/
.idea/
nbproject/
public

# FE Setup
.bin/node_modules/
/node_modules/
/npm-debug.log.*
/npm-debug.log
/npm-debug.log*
*/.parcel-cache